<!doctype html>
<html>

  <head>
    <title>Image Processing</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  </head>

  <body>
    <div id='app'>
      <v-app>
        <v-content>
          <v-container>

            <v-row>
              <v-col cols="12" >
                <v-card>
                  <v-card-title>
                    Choose an thumbnail
                  </v-card-title>
                  <v-card-text>
                    <v-row>
                      <v-col v-for="thumbnail in thumbNails" :key="thumbnail" >
                        <v-img :src="thumbnail" width="100px" height="100px" @click="src=thumbnail"></v-img>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
            <v-row v-if='src!=""'>
              <v-col cols="12">
                <v-card class="pa-2">
                  <v-row>
                    <v-col cols="6">
                      <div class="title">Original</div>
                      <div v-if="process!='Kernel'"><v-img :src="'./img/' + src + '/toGray'"></v-img></div>
                      <div v-else><v-img :src="'./img/' + src + '/toGray'"></v-img></div>
                      <div>Value Histogram</div>
                      <div><v-img :src="'./img/' + src + '/histogram'"></div>
                    </v-col>
                    <v-col cols="6">
                      <v-menu
                        transition="slide-y-transition"
                        bottom
                        >
                        <template v-slot:activator="{ on }">
                          <v-btn
                            class="purple"
                            color="primary"
                            dark
                            v-on="on"
                            >
                           {{process == "" ? "Choose:" : process}}
                          </v-btn>
                        </template>
                        <v-list>
                          <v-list-item
                            v-for="(row, i) in rows"
                            :key="i"
                            @click="updateProcess(row)"
                            >
                            <v-list-item-title>{{ row }}</v-list-item-title>
                          </v-list-item>
                        </v-list>
                      </v-menu>
                      <div v-if="process=='RGBChannels'">
                        <v-row>
                          <v-col cols="6"><div>Value Channel</div><div><v-img :src="'./img/' + src + '/toGray'"></div></v-col>
                          <v-col cols="6"><div>Red Channel</div><div><v-img :src="'./img/' + src + '/toRed'"></div></v-col>
                        
                          <v-col cols="6"><div>Green Channel</div><div><v-img :src="'./img/' + src + '/toGreen'"></div></v-col>
                          <v-col cols="6"><div>Blue Channel</div><div><v-img :src="'./img/' + src + '/toBlue'"></div></v-col>
                        </v-row>
                      </div>
                      <div v-if="process=='autoContrast'">
                        <div><v-img :src="'./img/' + src + '/autoAdjustForExposure'"></v-img></div>
                      <div>Adjusted Value Histogram</div>
                      <div><v-img :src="'./img/' + src + '/autoAdjustForExposure:histogram'"></div>
                      </div>
                      <div v-if="process=='BitSlice'">
                        <v-row>
                        <v-col v-for="n in 8" cols='4'><v-img :src="'./img/' + src + '/slice,' + (n-1)"></v-img></v-col>
                        </v-row>
                      
                      </div>
                      <div v-if="process=='Kernel'">
                        <v-row>
                        <v-col ><v-img :src="'./img/' + src + '/kernel'"></v-img></v-col>
                        </v-row>
                      
                      </div>
                      
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>

          </v-container>
        </v-content>
      </v-app>

    </div>

    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src='https://unpkg.com/vue'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>


    <script>

        var app = new Vue({
          el: '#app',
          vuetify: new Vuetify(),
          data: {
            src:"",
            process:"RGBChannels",

            thumbNails:[],
            rows: [
                    "RGBChannels",
                    "autoContrast",
                    "BitSlice",
                    "Kernel",
            ],
          },
          mounted(){
            let that = this;
            axios.get("/listThumbnails")
              .then(result => {
                that.thumbNails = result.data.split("\n");
              })
              .catch(error => {
                console.log("error " + error);
              })
          },
          methods: {
            updateProcess(newValue){
              this.process = newValue;
              
            }

          },
        });





    </script>

  </body>

</html>